{{# partial "titulo" }}
<title>GeSoc.me - Crear entidad</title>
{{/partial}}

{{# partial "contenido" }}

<h2 class="text-center">Crear Entidad Juridica</h2>
<hr />

<div class="jumbotron">
	<form action="/crearEntidadJuridica" method="POST" id="juridica">
		<div class="djm">
			<div class="secc">
				<label for="nombreFicticio">Nombre Ficticio</label>
				<input id="nombreFicticio" name="nombreFicticio" type="text" class="form-control">
			</div>
			<div class="secc">
				<label for="razonsocial">Razon Social</label>
				<input id="razonsocial" name="razonsocial" type="text" required="required" class="form-control">
			</div>
			<div class="secc">
				<label for="cuit">CUIT</label>
				<input id="cuit" name="cuit" type="text" class="form-control" required="required">
			</div>
		</div>

		<div class="djm">
			<div class="secc">
				<label for="direccionPostal">Direccion Postal</label>
				<input id="direccionPostal" name="direccionPostal" type="text" required="required" class="form-control">
			</div>
			<div class="secc">
				<label for="igj">Codigo de inscripcion definitiva</label>
				<input id="igj" name="igj" type="text" class="form-control">
			</div>
		</div>
		<div class="djm">
			<div class="secc">
				<label><u>Categoria</u></label>
				<div>
					<div>
						<div>
							<input name="categoria" id="categoria" type="radio" required="required"
								class="custom-control-input" value="Judiciales">
							<label for="categoria_0" class="custom-control-label">Judiciales</label>
						</div>
					</div>
					<div>
						<div>
							<input name="categoria" id="categoria" type="radio" required="required"
								class="custom-control-input" value="ONG">
							<label for="categoria_1" class="custom-control-label">ONG</label>
						</div>
					</div>
					<div>
						<div>
							<input name="categoria" id="categoria" type="radio" required="required"
								class="custom-control-input" value="Industria Agropecuaria">
							<label for="categoria_2" class="custom-control-label">Industria Agropecuaria</label>
						</div>
					</div>
				</div>
			</div>
			<div>
				<div class="secc">
					
						<div class="camp">
							<label><u>Entidades Base</u></label>


							<div class="scrll">
								{{#each entidades}}
								<div style="margin:4px ">
									<label for="checkboxes-0" />
									<input name="checkboxEntidad" id="checkboxEntidad" style="margin-right:4px"
										type="checkbox" checked="checked" value={{id}} />{{nombreFicticio}}{{id}}
								</div>
								{{/each}}

							</div>
						</div>

					
				</div>
			</div>
	
				<div class="secc">
					<label><u>Tipo de Entidad</u></label>
					<div>
						<div class="custom-control custom-radio custom-control-inline">
							<input name="tipo" id="tipo" type="radio" class="custom-control-input" value="EMPRESA"
								required="required">
							<label for="tipo_0" class="custom-control-label">Empresa</label>
						</div>
						<div>
							<input name="tipo" id="tipo" type="radio" value="OSC" required="required">
							<label for="tipo_1">OSC</label>
						</div>
					</div>
				</div>
			
		</div>
		<div>
			<div>
				{{#if estadoEntidad}}
				<div class="box" id="visibility">
					<p style="font-size:medium">{{estadoEntidad}}</p>
				</div>
				{{/if}}
			</div>
			<div>
				<div>
					<input name="submit" class="btn btn-info btn-md" type="submit" value="Crear">
				</div>
			</div>
		</div>

	</form>
</div>


<style>
	.djm {
		display: flex;
		justify-content: space-between;
		margin: 10px;

	}

	.secc {
		width: 350px;
	}

	.scrll {
		max-width: 100%;
		overflow-x: auto;
		display: flex;
	}

	.camp {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 300px;
		height: 90px;


	}


	.box {
		background-color: rgb(12, 206, 164);
		border-radius: 8px;
		padding: 5px;
		width:250px;
		margin-top: 0px;
	}

	.margin-200 {
		margin-top: 200px;
	}
</style>



<script>
	setTimeout(function () { document.getElementById("visibility").hidden = true; }, 2000);
</script>





















{{/partial}}
{{> layout.html.hbs }}